@use "../../themes/generated/variables.base.scss" as vars;
@use "../../styles/shared-styles.scss";

.document-types-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.custom-grid-wrapper {
  width: 100%;
}
