@use "../../styles/breakpoints.scss" as breakpoints;

.side-nav-outer-toolbar {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-header {
  z-index: 1501;
  position: sticky;
  top: 0;
  flex: 0 0 auto;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .dx-tabs {
    height: 100%;
  }

  .dx-icon {
    line-height: normal;
  }
}

.layout-body {
  flex: 1;
  min-height: 0;
}

.content {
  flex-grow: 1;
  min-height: calc(100vh - 116px); /* Ensures content takes up minimum space needed */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.scroll-wrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer-container {
  margin-top: auto;
  z-index: 1501;
  padding: 0 20px;
  
  @include breakpoints.respond-to("mobile") {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 12px;
  }
}

@media (max-width: 768px) {
  .container {
    height: calc(100vh - 56px);
    padding-bottom: 60px;
  }
  
  .layout-body {
    height: calc(100vh - 116px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

#navigation-header {
  @include breakpoints.respond-to("mobile") {
    padding-left: 20px;
  }
}

.dx-card {
  @include breakpoints.respond-to("mobile") {
    margin-top: 10px;
  }
}
