@use "../../themes/generated/variables.base.scss" as vars;

.login-form {
  .link {
    text-align: center;
    font-size: 16px;
    font-style: normal;

    a {
      text-decoration: none;
      color: vars.$base-accent;
    }
  }

  .form-text {
    margin: 10px 0;
    color: vars.$base-text-color;
    font-size: 14px;
  }
}
