@use "../../themes/generated/variables.base.scss" as vars;

.login-form {
  width: 100%;
  max-width: 410px;
  padding: 32px 38px 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dx-surface-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  .login-header {
    text-align: center;
    margin-bottom: 24px;
    h3 {
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: 500;
    }
    p {
      color: rgba(var(--dx-base-text-color-rgb), 0.7);
      margin: 0;
    }
  }

  .form-text {
    margin: 10px 0;
    color: rgba(var(--dx-base-text-color-rgb), 0.7);
  }

  .dx-button {
    margin-top: 24px;
  }

  .dx-texteditor.dx-editor-filled {
    background: rgba(var(--dx-base-text-color-rgb), 0.04);
    border-radius: 4px;
  }

  .dx-texteditor.dx-state-hover {
    background: rgba(var(--dx-base-text-color-rgb), 0.07);
  }

  .dx-button-text {
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
  }

  .link {
    text-align: center;
    color: var(--dx-success-color);
    font-size: 16px;
    opacity: 0.8;
  }
}
