@use "sass:color";
@use "../../dx-styles.scss" as *;
@use "../../themes/generated/variables.additional.scss" as vars;
@use "../../utils/patches.scss" as patches;

.side-navigation-menu {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 500px !important;

  .menu-container {
    display: flex;
    flex: 1;
    background-color: var(--side-panel-background);
    color: var(--dx-color-text);
    
    .dx-treeview {
      width: 100%;

      // ## Long text positioning 
      white-space: nowrap;
      // ##

      // ## Icon width customization
      .dx-treeview-item {
        padding: 8px 0;
        padding-right: 16px;

        &.dx-state-hover {
          background-color: rgba(vars.$base-bg, 0.35) !important;
        }

        .dx-icon {
          width: $side-panel-min-width !important;
          margin: 0 !important;
        }
      }
      // ##
      
      // ## Arrow customization
      .dx-treeview-node {
        padding: 0 0 !important;
      }

      .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
      }
      // ##

      // ## Selected & Focused items
      .dx-treeview-item.dx-state-focused {
        background-color: rgba(vars.$base-bg, 0.35) !important;
      }

      .dx-treeview-item-content {
        padding: 0 16px;
      }

      // Indent child items more
      .dx-treeview-node[aria-level="2"] .dx-treeview-item-content {
        padding-left: 42px;  
      }

      .dx-treeview-node[aria-level="3"] .dx-treeview-item-content {
        padding-left: 80px;  
      }

      .dx-treeview-node[aria-level="4"] .dx-treeview-item-content {
        padding-left: 120px;  
      }
      // ##
    }
  }
}

.dx-drawer-overlap.pre-init-blink-fix {
  @include patches.menu-pre-init-patch;
}
