@use "../../themes/generated/variables.base.scss" as vars;

.user-info {
  display: flex;
  align-items: center;

  .dx-toolbar-menu-section & {
    padding: 10px 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .image-container {
    overflow: hidden;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);

    .user-image {
      width: 100%;
      height: 100%;
    }
  }

  .user-name {
    font-size: 14px;
    color: white;
    margin: 0 9px;
  }
}

.dx-toolbar-menu-section {
  .dx-list-item {
    .dx-list-item-content {
      color: #2d4277;
    }
  }
}

.dx-menu-base {
  .dx-menu-item-content {
    color: #2d4277;
  }
}

.dx-context-menu {
  &.user-menu {
    .dx-submenu {
      .dx-menu-items-container {
        background-color: white;
        .dx-item {
          .dx-menu-item {
            color: #2d4277;
            
            .dx-menu-item-content {
              color: #2d4277;
            }

            &:hover {
              background-color: #f5f6fa;
            }
          }
        }
      }
    }
  }
}

.dx-button-has-text .dx-button-content {
  padding-left: 4px;
  padding-right: 4px;
}
