@use "../../themes/generated/variables.base.scss" as vars;
@use "../../dx-styles.scss" as *;

.header-component {
  flex: 0 0 auto;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #2d4277;  /* Lighter shade of blue */
  color: white;

  .dx-toolbar .dx-toolbar-item.menu-button>.dx-toolbar-item-content .dx-icon {
    color: white;
  }

  .dx-toolbar {
    background-color: transparent;
  }

  .header-title {
    color: white;
    font-weight: 500;
  }

  .user-button {
    .dx-button-content {
      color: white;
    }
  }
}

.header-logo {
  .header-logo-image {
    height: 30px;
    width: auto;
    object-fit: contain;
    margin: 0 10px;
  }
}

.dx-toolbar.header-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding: 0 40px;

  .screen-x-small & {
    padding: 0 20px;
  }
}

.dx-toolbar .dx-toolbar-item.dx-toolbar-button.menu-button {
  width: $side-panel-min-width;
  text-align: center;
  padding: 0;
}

.header-title .dx-item-content {
  padding: 0;
  margin: 0;
}

.dx-theme-generic {
  .dx-toolbar {
    padding: 10px 0;
  }

  .user-button>.dx-button-content {
    padding: 3px;
  }
}
