@use "../../themes/generated/variables.base.scss" as vars;

.reset-password-form {
  .submit-button {
    margin-top: 10px;
  }

  .login-link {
    color: vars.$base-accent;
    font-size: 16px;
    text-align: center;
  }
}
