@use "../../themes/generated/variables.base.scss" as vars;
@use "../../styles/breakpoints.scss" as breakpoints;

.footer {
  display: block;
  color: var(--dx-color-text);
  border-top: 1px solid var(--dx-color-border);
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  
  @include breakpoints.respond-to("mobile") {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
  }
}
