@use "../../themes/generated/variables.base.scss" as vars;

.footer {
  display: block;
  color: vars.$base-text-color;
  border-top: 1px solid vars.$base-border-color;
  padding-top: 20px;
  padding-bottom: 24px;
}
